In [3]:
import sqlite3
connection=sqlite3.connect('roster.db1.sqlite')
cursor=connection.cursor()
cursor.execute('''Create table if not EXISTS Roster(
                   Name text,
                   Species text, 
                   Age int)''' )
cursor.execute("DELETE FROM Roster")
try:
    cursor.executemany('''Insert into Roster(Name, Species, Age) values 
                   (?,?,?)''',[
                   ('Benjamin Sisko', 'Human', 40),
                   ('Jadzia Dax','Trill', 300),
                   ('Kira Nerys','Bajoran', 29)])


except sqlite3.IntegrityError:
    print("Data already exists, skipping insertion.")


cursor.execute('''Update Roster 
                  Set Name='Ezri Dax'
                  where Name='Jadzia Dax' ''')

cursor.execute("Select Name, Species, Age from Roster where Species='Bajoran' ")
rows=cursor.fetchall()

for row in rows:
    print(row)

connection.commit()
connection.close()

('Kira Nerys', 'Bajoran', 29)