In [2]:
#the first homework
import pandas as pd

data= {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df=pd.DataFrame(data)

# 1. Rename columns
df.rename(columns={'First Name': 'first_name', 'Age': 'age'}, inplace=True)
print(df)

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [3]:
# 2. Print the first 3 rows
print(df.head(3))

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [4]:
# 3. Find the mean age
mean_age=df['age'].mean()
print(mean_age)

32.5

In [5]:
# 4. Select and print only 'Name' and 'City' columns
print(df[['first_name', 'City']])

  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [6]:
import numpy as np
# 5. Add a new column 'Salary' with random values
df['Salary']=np.random.randint(40000, 100000, size=len(df))
print(df)

  first_name  age           City  Salary
0      Alice   25       New York   75282
1        Bob   30  San Francisco   67050
2    Charlie   35    Los Angeles   40255
3      David   40        Chicago   46836

In [7]:
# 6. Display summary statistics
print(df.describe())

             age        Salary
count   4.000000      4.000000
mean   32.500000  57355.750000
std     6.454972  16516.958081
min    25.000000  40255.000000
25%    28.750000  45190.750000
50%    32.500000  56943.000000
75%    36.250000  69108.000000
max    40.000000  75282.000000

In [8]:
#The second homework
#1. Creating the DataFrame
sales_and_expenses=pd.DataFrame({
    'Month':['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales':[5000, 6000, 7500, 8000],
    'Expenses':[3000, 3500, 4000, 4500]
})

In [9]:
# 2. Calculate maximum sales and expenses
max_sales=sales_and_expenses['Sales'].max()
max_expenses=sales_and_expenses['Expenses'].max()

print("Maximum sales:", max_sales)
print("Maximum expenses", max_expenses)

Maximum sales: 8000
Maximum expenses 4500

In [10]:
# 3. Calculate minimum sales and expenses
min_sales=sales_and_expenses['Sales'].min()
min_expenses=sales_and_expenses['Expenses'].min()

print("Minimum sales:", min_sales)
print("Minimum expenses", min_expenses)

Minimum sales: 5000
Minimum expenses 3000

In [11]:
# 4. Calculate average sales and expenses
mean_sales=sales_and_expenses['Sales'].mean()
mean_expenses=sales_and_expenses['Expenses'].mean()

print("Average sales:", mean_sales)
print("Average expenses", mean_expenses)

Average sales: 6625.0
Average expenses 3750.0

In [12]:
# The third homework
#the first puzzle
import pandas as pd
data={
    'BusinessEntityID': [275, 275, 275, 275, 275, 275],
    'SalesYear': [2005, 2005, 2006, 2006, 2006, 2006],
    'CurrentQuota': [367000.00, 556000.00, 502000.00, 550000.00, 1429000.00, 1324000.00]
}

df=pd.DataFrame(data)

df=df.sort_values(by=['BusinessEntityID', 'SalesYear', 'CurrentQuota'])
df['PreviousQuota']=df.groupby('BusinessEntityID')['CurrentQuota'].shift(1)
print(df)

   BusinessEntityID  SalesYear  CurrentQuota  PreviousQuota
0               275       2005      367000.0            NaN
1               275       2005      556000.0       367000.0
2               275       2006      502000.0       556000.0
3               275       2006      550000.0       502000.0
5               275       2006     1324000.0       550000.0
4               275       2006     1429000.0      1324000.0

In [13]:
#the second puzzle
df=pd.DataFrame(data)

df=df.sort_values(by=['BusinessEntityID', 'SalesYear', 'CurrentQuota'])
df['NextQuota']=df.groupby('BusinessEntityID')['CurrentQuota'].shift(-1)
print(df)

   BusinessEntityID  SalesYear  CurrentQuota  NextQuota
0               275       2005      367000.0   556000.0
1               275       2005      556000.0   502000.0
2               275       2006      502000.0   550000.0
3               275       2006      550000.0  1324000.0
5               275       2006     1324000.0  1429000.0
4               275       2006     1429000.0        NaN

In [14]:
#the the third puzzle
data = {
    'EmpId': [1, 2, 3, 4, 5],
    'EmpName': ['Pawan', 'Zuzu', 'Parveen', 'Mahesh', 'Ramesh'],
    'BirthDate': pd.to_datetime(['1983-12-04', '1986-11-28', '1977-05-07', '1983-01-13', '1983-05-09'])
}

df=pd.DataFrame(data)
month_day_df=df[(df['BirthDate'].dt.month==5) & (df['BirthDate'].dt.day.between(7, 15))]
print(month_day_df)

   EmpId  EmpName  BirthDate
2      3  Parveen 1977-05-07
4      5   Ramesh 1983-05-09

In [17]:
#the 4th puzzle
import pandas as pd
data = {
    'MName': ['A', 'A', 'B', 'B', 'D', 'E'],
    'AName': ['Amitabh', 'Vinod', 'Amitabh', 'Vinod', 'Amitabh', 'Vinod'],
    'Roles': ['Actor', 'Villan', 'Actor', 'Actor', 'Actor', 'Actor']
}

df=pd.DataFrame(data)
actors_dff=df[df['Roles']=='Actor']

movies_both=(
    actors_dff.groupby('MName')['AName'].apply(set).reset_index()
)

result=movies_both[movies_both['AName'].apply(lambda x: {'Amitabh', 'Vinod'}.issubset(x))]
print(result[['MName']])

  MName
1     B

In [18]:
#the 5th puzzle
data = {
    'ID': [1, 1],
    'Name': ['P', None],
    'Typed': [None, 'Q']
}

df = pd.DataFrame(data)
clean_df=df.groupby('ID', as_index=False).first()
print(clean_df)

   ID Name Typed
0   1    P     Q